
// TOKENS
@use './abstracts/lk-tokens.scss';

// LAYOUT
@use './layout/lk-layout.scss';
@use './layout/lk-sidebar.scss';
@use './layout/lk-header.scss';
@use './layout/lk-menu.scss';
@use './layout/lk-submenu.scss';
@use './layout/voice.scss';


// COMPONENTS
@use './components/lk-stats.scss';
@use './components/lk-story-card.scss';
@use './components/lk-panel.scss';
@use './components/lk-buttons.scss';
@use './components/lk-table.scss';
@use './components/lk-subscription';

// PAGES
@use './pages/lk-dashboard';
@import './pages/lk-library.scss';

body {

  margin: 0;

  font-family: 'Inter', sans-serif;

  background: #f8f5f0;

  color: #202020;
width: 1240px;
}