
// TOKENS
@use './abstracts/lk-tokens.scss';

// LAYOUT
@use './layout/lk-layout.scss';
@use './layout/lk-sidebar.scss';
@use './layout/lk-header.scss';
@use './layout/lk-menu.scss';
@use './layout/lk-submenu.scss';
@use './layout/voice.scss';
@use './layout/lk-subscription-manage.scss';
@use './layout/lk-bonus.scss';
@use './layout/subscription-sbp.scss';
@use './layout/header-user.scss';
@use './layout/lk-profile-settings.scss';


// COMPONENTS
@use './components/lk-stats.scss';
@use './components/lk-story-card.scss';
@use './components/lk-panel.scss';
@use './components/lk-buttons.scss';
@use './components/lk-table.scss';
@use './components/lk-subscription';
@use './components/lk-modal';
@use './components/lk-form';
@use './components/lk-card.scss';
@use './components/lk-subpayments.scss';
@use './components/subscriptionSuccess.scss';
@use './components/lk-checkout.scss';
@use './components/library-filters.scss';
@use './components/lk-library-card.scss';




// PAGES
@use './pages/lk-dashboard';
@use './pages/lk-library';
@use './pages/voicemanage.scss';
@use './pages/lk-voice-analytics.scss';
@use './pages/lk-activity.scss';
@use './pages/lk-support.scss';
@use './pages/auth.scss';
@use './pages/lk-settings.scss';

body {

  margin: 0;

  font-family: 'Inter', sans-serif;

  background: #f8f5f0;

  color: #202020;

}