$font-main: 'Montserrat', sans-serif;
$font-accent: 'Kaufmann BT', serif;

$color-text: #222222;
$color-muted: #6b6b6b;
$color-white: #ffffff;
$color-accent: #52826C;
$color-border: #d8d8d8;

$transition: all 0.3s ease;