
@use '../abstracts/lk-tokens' as *;

.lk-modal__content {
  position: relative;

  width: 100%;
  max-width: 420px;

  margin: 140px auto;

  background: $lk-surface;
  border-radius: $lk-radius-24;

  padding: 28px;

  box-shadow: 
    0 20px 60px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.04);

  animation: lkModalIn 0.25s ease;
}

/* заголовок */
.lk-modal__content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

/* текст */
.lk-modal__content p {
  font-size: 13px;
  color: $lk-text-muted;
  margin-bottom: 20px;
}

/* действия */
.lk-modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 24px;
}