
@use './abstracts/fonts';
@use './abstracts/variables' as *;
@use './abstracts/mixins';
@use './abstracts/media';
@use './abstracts/lk-tokens.scss' as *;

@use './base/typography';
@use './components/buttons';
@use './layout/header';
@use './layout/hero';
@use './layout/love-tech.scss';
@use './sections/howwork.scss';
@use './sections/why-tech.scss';
@use './sections/loyalty-banner.scss';
@use './sections/voices-echo.scss';
@use './sections/audience.scss';
@use './sections/pricing.scss';
@use './layout/about.scss';
@use './layout/guarantes.scss';
@use './layout/forms.scss';
@use './layout/faq.scss';
@use './layout/footer.scss';
@use './pages/constructor.scss';
@use './layout/builder-modal.scss';
@use './layout/modalform.scss';
@use './layout/lk-layout.scss';
@use './layout/lk-header.scss';
@use './layout/lk-menu.scss';
@use './layout/lk-card.scss';
@use './layout/lk-dashboard.scss';
@use './layout/lk-filters.scss';
@use './layout/lk-panel.scss';
@use './layout/lk-search.scss';
@use './layout/lk-story-card.scss';
@use './layout/lk-table.scss';
@use './layout/lk-tabs.scss';
@use './layout/lk-voice-card.scss';
@use './layout/lk-sidebar.scss';
@use './components/lk-stats.scss';



html {
  box-sizing: border-box;
    scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 120px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  min-height: 100%;

}
@media (max-width: 767px) {
  section[id] {
    scroll-margin-top: 80px;
  }
}